<div class="extra">
    <div class="ex">
        
    </div>

    <div class="extra-1">
        <!-- <ul>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul> -->
    </div>
    <div class="social-icons">
        <a href=""><i class="info-1 fa-brands fa-whatsapp"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-vimeo"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        

    </div>
</div>

<footer>
    <p>Copyright <i class="fa-regular fa-copyright"></i>name. All Rights Reserved.</p>
</footer>