
<div id="header">
    <div class="container">
        

        <header>
            <nav>
                
                <div class="sub-head">
                    <ul id="sidemenu">
                        <% if (typeof path !== 'undefined' && path !== '/') { %>
                            <li><a href="/">HOME</a></li>
                        <% } %>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/contact">CONTACT</a></li>

                        <i class="fa-solid fa-xmark resp" onclick="closemenu()"></i>
                    </ul>
                    <i class="fa-solid fa-bars resp" onclick="openmenu()"></i>


                </div>

                <div class="name">
                    <!-- <p>FILM MAKER</p> -->
                    <h1>venu gopal sunkara</h1>
                    

                </div>

                <div class="head">
                    <ul>
                        <li class="dropdown">
                            <a href="#">FILMS</a>
                            <div class="dropdown-content">
                                <a href="/documentary">DOCUMENTARY</a>
                                <a href="/music">MUSIC</a>
                                <a href="/awareness">AWARENESS</a>
                                <a href="/commercial">COMMERCIAL</a>
                                <a href="/personal">PERSONAL</a>
                                <a href="/others">OTHERS</a>
                            </div>
                        </li>
                        <li class="dropdown2">
                            <a href="#">PHOTOS</a>
                            <div class="dropdown-content2">
                                <a href="/animals">ANIMALS</a>
                                <a href="/products">PRODUCTS</a>
                                <a href="/documentary2">DOCUMENTARY</a>
                                <a href="/portraits">PORTRAITS</a>
                                <a href="/personal2">PERSONAL</a>
                                <a href="/others2">OTHERS</a>
                            </div>
                        </li>
                        <li><a href="/images/venu_resume.pdf" target="_blank">RESUME</a></li>
                    </ul>    
                </div>
                
            </nav>

        </header>

   