<%- include("partials/header.ejs") %>

<div id="about">
    <div class="container-2">
        <div class="about-row">
            <div class="about-col-1">
                <img src="/images/about-image.jpg">
            </div>
            <div class="about-col-2">
                
                <p class="about-title">In the vast world of visual storytelling, photographers and filmmakers hold the power to  capture moments, evoke emotions, and tell compelling narratives that resonate with audiences. A photographer, through the lens of their camera, freezes time, creating images that can speak a thousand words. Their keen eye for detail, lighting, and composition transforms ordinary scenes into extraordinary art. They possess the ability to see beauty in the mundane, capturing fleeting moments that might otherwise go unnoticed.</p>

                <p class="about-title-2">On the other hand, filmmakers weave together a tapestry of images, sound, and storytelling to create moving pictures that captivate and inspire. They are the architects of visual narratives, meticulously planning each shot, angle, and frame to bring their vision to life. From the director who steers the creative ship, to the cinematographer who captures the essence of each scene, to the editor who pieces it all together, every role in filmmaking is crucial.</p>
            </div>
        </div>

    </div>
</div>

<%- include("partials/footer.ejs") %>