<%- include("partials/header.ejs") %>

<div id="contact">
    <div class="container-3">
        <div class="contact-row">
            <div class="contact-col-1">
                <div class="contact-left-title">
                    <p>drop me a line...</p>
                </div>

                <div class="form-box">
                    <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
                    
                        <input type="hidden" name="access_key" value="3bf46604-6f65-484d-9a6a-ba873f38273a">
                        
                        <input type="text" name="name" placeholder="Name *" class="contact-inputs" required>
                    
                        <input type="email" name="email" placeholder="Email *" class="contact-inputs" required>
                        
                        <textarea name="message" placeholder="Message *" class="contact-inputs" required></textarea>
                        <button type="submit" style="font-weight: 600;">Send</button>
                    </form>

                </div>
                
                
            </div>
            <div class="contact-col-2">
                
                    <p class="hlo">On the other hand, filmmakers weave together a tapestry of images, sound, and storytelling to create moving pictures that captivate and inspire. They are the architects of visual narratives, meticulously planning each shot, angle, and frame to bring their vision to life.</p>
                    <p class="hlo-2"> From the director who steers the creative ship, to the cinematographer who captures the essence of each scene, to the editor who pieces it all together, every role in filmmaking is crucial. A filmmaker's journey is often filled with challenges, from securing funding to managing a diverse team, but the end result—a finished film—is a powerful medium that can impact society, challenge perceptions, and ignite conversations.</p>
                    <!-- <p class="info info-1">Contact Information</p>
                    <p class="info-1 num"><i class="fa-solid fa-phone"></i> +91-9310829812</p>
                    <p class="info-1"><i class="fa-solid fa-envelope"></i> princeconnect2602@gmail.com</p> -->
                
            
                    <p class="info info-1">Contact Information</p>
                    <p class="info-1 num"><i class="fa-solid fa-phone"></i> +91-9310829812</p>
                    <p class="info-1"><i class="fa-solid fa-envelope"></i> princeconnect2602@gmail.com</p>
                    <!-- <p class="info info-1">Follow Me</p> -->
                    <!-- <div class="social-icons">
                        <a href=""><i class="info-1 fa-brands fa-whatsapp"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-vimeo"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </div> -->
                
            </div>
        </div>
    </div>
</div>






<%- include("partials/footer.ejs") %>
    
</body>
</html>


