<%- include("partials/header.ejs") %>

<div class="video-container">
    <video id="preview-video" autoplay loop muted plays-inline class="background-video">
        <source src="/images/background_video.mp4" type="video/mp4">

    </video>
    <video id="preview-video-2" autoplay loop muted plays-inline class="background-video">
        <source src="/images/video-sound-1.mp4" type="video/mp4">
    </video>
    <button id="play-full-video"><i class="fa-solid fa-play"></i> watch full video</button>
    <div class="slide-arrows">
        <button class="arrow left-arrow" style="display: none;"><i class="fas fa-chevron-left"></i></button>
        <button class="arrow right-arrow"><i class="fas fa-chevron-right"></i></button>
    </div>

</div>

<div id="video-modal" class="modal">
    <span class="close-btn">&times;</span>
    <div class="modal-content">
       <video id="full-video" controls>
            <source src="/images/video2.mp4" type="video/mp4">
        </video>
    </div>
</div>


<!-- <div class="content">
    <p class="content-1">I'M A</p>
    <p class="content-2"><span class="auto-text"></span></p>
    
</div> -->



</div>
</div>

<%- include("partials/footer.ejs") %>