<%- include("../partials/header.ejs") %>
<div class="animals-single">
    <div class="container-animals-single">
        <div class="animals-content">
            <h1 class="animals-title">Animals Photography Collection 1</h1>
            <div class="animals-grid">
                <!-- Row 1: One image -->
                <div class="animals-grid-row">
                    <div class="animals-image-container">
                        <img src="/images/docu-film-1.png" alt="Animal 1">
                        <div class="overlay">
                            <!-- <h3>Animal 1</h3> -->
                        </div>
                    </div>
                </div>
                
                <!-- Row 2: Two images -->
                <div class="animals-grid-row">
                    <div class="animals-image-container">
                        <img src="/images/docu-film-2.png" alt="Animal 2">
                        <div class="overlay">
                            <!-- <h3>Animal 2</h3> -->
                        </div>
                    </div>
                    <div class="animals-image-container">
                        <img src="/images/docu-film-3.png" alt="Animal 3">
                        <div class="overlay">
                            <!-- <h3>Animal 3</h3> -->
                        </div>
                    </div>
                </div>
                <!-- Row 3: One image -->
                <div class="animals-grid-row">
                    <div class="animals-image-container">
                        <img src="/images/docu-film-4.png" alt="Animal 4">
                        <div class="overlay">
                            <!-- <h3>Animal 4</h3> -->
                        </div>
                    </div>
                </div>
                <!-- Row 4: Three images -->
                <div class="animals-grid-row">
                    <div class="animals-image-container">
                        <img src="/images/docu-film-5.png" alt="Animal 5">
                        <div class="overlay">
                            <!-- <h3>Animal 5</h3> -->
                        </div>
                    </div>
                    <div class="animals-image-container">
                        <img src="/images/docu-film-6.png" alt="Animal 6">
                        <div class="overlay">
                            <!-- <h3>Animal 6</h3> -->
                        </div>
                    </div>
                    <div class="animals-image-container">
                        <img src="/images/docu-film-7.png" alt="Animal 7">
                        <div class="overlay">
                            <!-- <h3>Animal 7</h3> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>